article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

article div{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#cadastro{
    display: flex;
    flex-direction: column;
    height: 30%;
}

#cadastro input{
    height: 8vh;
    width: 20vw;
}

article button{
    height: 10vh;
    width: 20vw;
    border-radius: 0 0 10px 10px;
}

#opcoes{
    height: 20%;
}